
  <!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style type="text/css">
body
{
background-color:#ef7d26;
}
.container{
    padding: 200px 80px 50px 80px;
}
</style>	
 
</head>
<body>
<div class ="container">
<div class="text-center">
<h1>welcome to url shortener</h1>
<p>Enter your longurl to get it shorten</p>
 <form action="/shorturl" method="POST">
  <input type="text" name="longurl" placeholder="enter your url to shorten">
  <button class ="danger">submit</button>
  </form>
</div>
</div>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>